<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Flight List</h1>
<a th:href="@{/flights/add}" class="btn btn-primary text-white" >Thêm chuyến bay</a>


<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
    <tr>
        <th>ID</th>
        <th>Số hiệu</th>
        <th>Điểm đến</th>
        <th>Khởi hành</th>
        <th>Giá vé</th>
        <th>Logo</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="f : ${flights}">
        <td th:text="${f.id}"></td>
        <td th:text="${f.flightNumber}"></td>
        <td th:text="${f.destination}"></td>
        <td th:text="${f.departureTime}"></td>
        <td th:text="${f.ticketPrice}"></td>
        <td>
            <img th:if="${f.airlineLogo != null}"
                 th:src="@{/resources/img/{name}(name=${f.airlineLogo})}"
                 width="50" height="50" class="rounded border">
        </td>
        <td>
            <a th:href="@{/flights/edit/{id}(id=${f.id})}" class="btn btn-primary text-white">Sửa</a>
            <a th:href="@{/flights/delete/{id}(id=${f.id})}" class="btn btn-danger text-white"
               onclick="return confirm('Xóa?')">Xóa</a>
        </td>
    </tr>

    </tbody>
</table>































<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>